header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  padding: 0 32px;
  background: linear-gradient(90deg,
      rgba(246, 246, 246, 0) 1.47%,
      rgba(163, 210, 155, 0.92) 7.25%,
      #319f1c 14.68%,
      #309e1b 50.68%,
      #319f1c 84.33%,
      rgba(147, 202, 137, 0.79) 91.68%,
      rgba(246, 246, 246, 0) 99.05%);
  border-radius: 3px;
  color: white;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  max-width: 1580px;
}

header .nav_btn {
  background-color: brown;
  padding: 6px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  opacity: 0;
  font-size: 1.8rem;
}

.padLeft {
  padding-left: 180px;
  position: relative;
}

a {
  text-decoration: none;
  color: white;
}

nav a {
  margin: 0 32px;
  text-decoration: none;
  color: white;
}

a:hover {
  color: lightgray;
}

/* @media only screen and (max-width: 1024px) {
  header .nav_btn {
    visibility: hidden;
    opacity: 1;
  }
  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: blue;
    transition: 1s;
    transform: translateY(-100vh);
  }
  header .responsive_nav {
    transform: none;
  }
  nav .nav_btn_close {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  nav a{
    font-size: 1.5rem;
  }
} */
.menu {
  position: absolute;
  width: 348px;
  height: 150px;
  left: -36%;
  top: 224%;
  background: #595959;
  border-radius: 0px 0px 3px 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: none;
}

.textMenu {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  padding-left: 10%;

}

.bottomLine {
  border-bottom: 1px solid;
  max-width: 275px;
}

.blogHover:hover .menu {
  display: flex;
}