.wrapFooter {
    width: 100%;
    aspect-ratio: 6;
    background-color: #363130;
    color: white;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    margin-bottom: -3px;
    position: absolute;
    left: 0px;
}

.commonStyle {
    display: flex;
    flex-direction: column;
    height: 170px;
    margin-top: 50px;
    justify-content: space-between;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.firstCol {}

.secondCol {}

.thirdCol {}

.fourthCol {}

.btnCall {
    width: 238px;
    height: 64px;
    border: 2px solid #FFFFFF;
    border-radius: 6px;
    background: #363130;
    color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.iconsFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}