.wrapFootForm {
  display: flex;
  margin-top: 220px;
  position: relative;
}

.homeImg {
  width: 1090px;
  height: 600px;
}

.styleForm {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-around;
  margin-top: 50px;
}

.titleFootForm {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 52px;
}

.textFootForm {
  margin: 20px 0px 47px 0px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.btnFootForm {
  background-color: #319f1c;
  color: white;
  box-shadow: 0 2px 10px #319f1c;
  font-size: 10px;
  border-radius: 5px;
  margin-top: 2%;
  width: 240px;
  height: 45px;
}

.textBtn {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.wrapForm {
  /* align-self: center;
    width: 30%; */
}

.inputField {
  max-width: 507px;
  height: 45px;
  margin-bottom: 20px;
}

.styleForm input,
textarea {
  border: 3px solid #319f1c;
}

.posImg {
  position: relative;
  left: -94px;
  bottom: -6px;
}

.cloud17Img {
  background-image: url(../../assets/images/17.png);
  width: 100%;
  height: 824px;
  position: absolute;
  top: -300px;
  left: 0;
  background-repeat: no-repeat;
}

.img10 {
  background-image: url(../../assets/images/10.png);
  width: 220px;
  height: 200px;
  position: absolute;
  top: -165px;
  left: 848px;
  background-repeat: no-repeat;
}

.img11 {
  background-image: url(../../assets/images/11.png);
  position: absolute;
  width: 370px;
  height: 610px;
  right: -5.5%;
  top: -160px;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 1720px){
.img11{
  display: none;
}
}

@media only screen and (max-width: 1240px) {
  .wrapFootForm {
    flex-direction: column-reverse;
    margin-top: 0%;
  }
  .cloud17Img{
    display: none;
   
  }
}
